:root {
  --themeDark: #121316;
  --themeWhiteSmokeLight: #f4f4f4;
  --themeWhiteSmokeDark: #f5f5f5;
  --themeWhite: #fff;
  --themeDodgerBlue: #0099ff;
  --themeDodgerBlueDark: #0561e2;
  --themeMithrilSilver: #bcbcbf;
  --themeGray: #a6adb7;
  --themeEerieBlack: #18181b;
  --themeNightRider: #2d2d2d;
  --themeSuvaGrey: #888888;
  --themeOldGungeonBlue: #0b65e3;
  --themeEclipse: #3c3636;
  --themeAliceBlueLight: #f3f8ff;
  --themeSilentSea: #394762;
  --themeDarkBlue: #3582f680;
}

@font-face {
  font-family: PlusJakartaSans-Bold;
  src: url("./fonts/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: PlusJakartaSans-Medium;
  src: url("./fonts/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: PlusJakartaSans-Regular;
  src: url("./fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: PlusJakartaSans-SemiBold;
  src: url("./fonts/PlusJakartaSans-SemiBold.ttf");
}

@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url("./fonts/AvenirLTStd-Heavy.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

#firstFoldContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--themeDark);
  display: flex;
  flex-direction: column;
  position: relative;
}

.globeNav {
  position: relative;
}

#horizontalLine {
  background-color: var(--themeEclipse);
  height: 1px;
}

#dropdown {
  position: absolute;
  top: 4.9rem;
  right: -2rem;
  background-color: var(--themeNightRider);
  z-index: 4;
  border-radius: 0.5rem;
  display: none;
}

#firstDropdownSection {
  color: var(--themeSuvaGrey);
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem;
}

#navigationContainer {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

#mainFirstFoldContainer {
  height: 88vh;
  width: 100%;
  margin-top: 8rem;
}

#mainFirstFoldContainer > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/grid.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#navigationContainer nav {
  display: flex;
  max-width: 90rem;
  background-color: var(--themeDark);
  height: 80%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  border-radius: 50rem;
  border-width: 1px;
  border-color: rgb(31 31 31 /1);
  border-style: solid;
  box-shadow: 0 0 #000, 0 0 #000, 0px 12px 48px 0px rgba(40, 40, 40, 0.08);
}

#firstHalfNavigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

#secondHalfNavigation {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--themeWhiteSmokeLight);
  font-family: PlusJakartaSans-Medium;
  font-size: 1.125rem;
}

#secondHalfNavigation a {
  cursor: pointer;
}

#secondHalfNavigation a:hover,
.navText:hover {
  color: var(--themeOldGungeonBlue);
}

.navItemsCtn > a:hover {
  font-weight: 600;
}

.navItemsCtn {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.globeNav > a {
  cursor: default !important;
}

.globeNav:hover {
  overflow: visible;
}

.globeNav:hover #dropdown {
  display: block;
}

.navText {
  font-size: 1.125rem;
  color: var(--themeWhite);
  font-family: PlusJakartaSans-Regular;
}

.englishLanguageSelection {
  margin-right: 0.5rem;
}

#secondDropdownSection {
  padding: 1.5rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.dropdownLinkCtn {
  display: flex;
  white-space: nowrap;
  gap: 0.75rem;
  align-items: center;
}

.dropdownLinkCtn a {
  font-size: 0.875rem;
  color: var(--themeSuvaGrey);
}

.navItemsCtn > a {
  display: block;
  opacity: 0;
  transform: translateY(110%);
}

.pairOne,
.pairTwo,
.pairThree {
  opacity: 0;
}

#logoText {
  font-size: 1.875rem;
  font-family: AvenirLTStd-Heavy;
  color: var(--themeWhite);
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
}

#logoText span {
  display: block;
}

.pairTwo,
.pairOne {
  transform: translateY(8px);
}

#secondHalfNavigation > div:last-child {
  color: var(--themeDodgerBlue);
}

#secondHalfNavigation > div:last-child:hover {
  color: var(--themeDodgerBlueDark);
  transition: all 0.5s ease;
}

#navGlobeIcon {
  width: 3rem;
}

#headingTextContainer {
  text-align: center;
}

#headingTextContainer,
#ctaContainer {
  position: relative;
  z-index: 3;
}

#headingTextContainer h1,
#ctaContainer h2,
#ctaButton {
  opacity: 0;
}

#headingTextContainer h1,
#ctaContainer h2 {
  transform: translateY(40px);
}

#headingTextContainer h1 {
  font-size: 5.875rem;
  font-family: PlusJakartaSans-SemiBold;
  color: var(--themeWhiteSmokeDark);
}

#textRevealEffectContainer {
  text-transform: uppercase;
  font-family: PlusJakartaSans-Bold;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  height: 7.5rem;
  overflow: hidden;
}

#textRevealEffectContainer > div {
  display: flex;
  height: 100%;
}

.allSymbols {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allSymbols div {
  height: 100%;
}

#midText {
  margin-left: 1rem;
}

#textRevealEffectContainer div {
  background: radial-gradient(
    75.98% 130.43% at 18.04% 28.7%,
    #09f,
    #188edd 60.59%,
    #0561e2
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 5.875rem;
  width: fit-content;
}

#ctaContainer {
  max-width: 40.125rem;
  padding: 7.187rem 3.5rem 0 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#ctaContainer h2 {
  color: var(--themeMithrilSilver);
  font-size: 1.187rem;
  font-family: PlusJakartaSans-Regular;
  font-weight: 300;
  line-height: 1.7rem;
}

#ctaContainer h2 span {
  color: var(--themeWhite);
  font-weight: 600;
}

#ctaButton {
  color: var(--themeWhite);
  font-family: PlusJakartaSans-SemiBold;
  font-size: 1.125rem;
  background: linear-gradient(
    105deg,
    #016fd0 4.61%,
    #03357c 162.29%
  ) !important;
  padding: 1.25rem 1.75rem;
  border-radius: 50rem;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #000;
}

#ctaButton a > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#ctaButton:hover {
  background-image: linear-gradient(
    to right,
    #016fd0,
    #044aad,
    #03357c
  ) !important;
}

.ctaButtonText {
  padding-bottom: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow {
  transform: translateY(100%);
}

.thirdRow-onePair,
.thirdRow-secondPair,
.thirdRow-thirdPair,
.thirdRow-fourthPair,
.thirdRow-fifthPair,
.thirdRow-sixthPair,
.thirdRow-seventhPair {
  opacity: 0;
}

#columnsCtn {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 90vh;
  display: flex;
}

#firstColumn {
  width: 33.33%;
  height: 100%;
  position: relative;
  z-index: 2;
}

#secondColumn {
  width: 33.33%;
  height: 100%;
  position: relative;
  z-index: 2;
}

#thirdColumn {
  width: 33.33%;
  height: 100%;
  position: relative;
  z-index: 2;
}

#followCursor {
  width: 13.25rem;
  height: 13.25rem;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

#cursorInfo {
  position: absolute;
  width: 6.75rem;
  height: 4.062rem;
  background-color: rgb(18 19 22 / 1);
  border: 0.8px solid #fff;
  left: 75%;
  top: 60%;
  border-radius: 1rem;
  font-family: PlusJakartaSans-Medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--themeWhite);
}

#followCursor img {
  width: 100%;
  height: 100%;
}

#secondFoldContainer {
  width: 100%;
  height: 20rem;
  background-color: var(--themeEerieBlack);
}

#cursorInfoLineOne {
  font-size: 1.25rem;
  font-weight: 600;
}

#cursorInfoLineTwo {
  font-size: 11px;
  color: var(--themeGray);
}

/* marquee logic */
.scroller__inner {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.scroller__inner img {
  height: 4rem;
  width: 10rem;
}

.small {
  height: 2.5rem !important;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 50s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2.5rem));
  }
}

#hamburgerBtn {
  display: none;
}

#mobileLogo,
#smallScreenDescription,
.mobileNavigation {
  display: none;
}

.contactUs {
  color: var(--themeDodgerBlue);
}

@media only screen and (max-width: 1024px) {
  #textRevealEffectContainer div {
    font-size: 5.4rem;
  }
}

@media only screen and (max-width: 912px) {
  #textRevealEffectContainer div {
    font-size: 4.5rem;
  }

  #headingTextContainer h1 {
    font-size: 5.3rem;
  }

  .firstRow,
  .secondRow,
  .thirdRow,
  .fourthRow {
    transform: translateY(135%);
  }
}

@media only screen and (max-width: 820px) {
  #textRevealEffectContainer div,
  #headingTextContainer h1 {
    font-size: 4rem;
  }

  .firstRow,
  .secondRow,
  .thirdRow,
  .fourthRow {
    transform: translateY(135%);
  }
}

@media only screen and (max-width: 540px) {
  #ctaContainer h2 {
    line-height: 1.3rem;
  }

  .globeNav > a {
    opacity: 1;
  }

  .globeNav {
    height: unset !important;
  }

  .navItemsCtn > a {
    display: block;
    transform: translateY(0%);
  }

  #ctaContainer {
    max-width: 15.625rem;
    padding: 2rem 0 0 0;
  }

  #smallScreenDescription {
    display: block;
    font-size: 0.875rem !important;
  }

  #smallScreenDescription span {
    font-weight: 600;
  }

  .contactUs,
  .integration,
  .docs,
  .aboutUs,
  #logoImage,
  #logoText,
  #bigScreenDescription {
    display: none;
  }

  #mobileLogo {
    display: block;
  }

  #navigationContainer nav {
    max-width: 32rem;
    padding: 0.75rem 1.25rem;
    height: 74%;
  }

  #navGlobeIcon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
  }

  #hamburgerBtn {
    display: block;
  }

  #hamburgerBtn:focus {
    border: 1px solid var(--themeDarkBlue);
    border-radius: 0.5rem;
  }

  #hamburgerBtn {
    background-color: transparent;
    outline: none;
    border: none;
    width: 2.5rem;
    padding: 0.5rem;
  }

  #hamburgerBtn img {
    height: 1rem;
    max-width: 100%;
  }

  #secondHalfNavigation {
    gap: 0.75rem;
  }

  #headingTextContainer h1,
  #textRevealEffectContainer div {
    font-size: 2.5rem;
  }

  #headingMainText {
    width: 100%;
    text-align: center;
  }

  #textRevealEffectContainer {
    flex-direction: column;
    align-items: center;
  }

  .firstRow,
  .secondRow,
  .thirdRow,
  .fourthRow {
    transform: translateY(400%);
  }

  #textRevealEffectContainer {
    gap: 0;
  }

  .navText {
    font-size: 0.75rem;
  }

  .englishLanguageSelection,
  .portuguesLanguageSelection {
    font-size: 9px !important;
  }

  #secondDropdownSection {
    gap: 1rem;
  }

  #dropdown {
    top: 4rem;
  }

  #navigationContainer nav {
    position: relative;
  }

  .mobileNavigation {
    width: 100%;
    background-color: var(--themeAliceBlueLight);
    position: absolute;
    top: 4.9rem;
    left: 0;
    color: var(--themeSilentSea);
    font-size: 0.875rem;
    font-family: PlusJakartaSans-SemiBold;
    border-radius: 1rem;
    padding: 8px;
  }

  .mobileNavigation > div div {
    padding: 1.5rem 0.75rem 0 0.75rem;
  }

  .mobileNavigation > div {
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  #navigationContainer nav {
    max-width: 23rem;
  }
}

@media only screen and (max-width: 390px) {
  #headingTextContainer h1 {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 375px) {
  #navigationContainer nav {
    max-width: 21rem;
  }

  #mainFirstFoldContainer {
    margin-top: 4rem;
  }
}
